@font-face {
  font-family: GothamBlack;
  src: url("/fonts/Gotham-Black.otf") format("opentype");
}

@font-face {
  font-family: GothamBook;
  src: url("/fonts/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: GothamMedium;
  src: url("/fonts/GothamMedium.ttf") format("truetype");
}

:root {
  --blue: #023785;
  --yellow: #fcd56c;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  color: var(--white);
}

body {
  font-family: "GothamBlack", "ui-sans-serif", "system-ui", " sans-serif",
    "'Apple Color Emoji'", "'Segoe UI Emoji'", "'Segoe UI Symbol'",
    "'Noto Color Emoji'";
  background: var(--blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 100svh;
  margin: 0 auto;
  gap: 3rem;
  max-width: 24rem;
  padding: 2rem 0.5rem;
}

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
  color: var(--yellow);
  text-align: center;
}
h2 {
  font-size: 1.4rem;
}

#useful-links > ul {
  display: flex;
  list-style: none;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

#stories-links > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

li,
article {
  display: flex;
  background: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  align-items: center;
}
li img,
article img {
  height: 100px;
  width: auto;
  flex-shrink: 0;
}
li a,
article a {
  color: var(--blue);
  padding: 1rem;
  width: 100%;
  text-align: center;
}
