@font-face {
  font-family: GothamBlack;
  src: url("/fonts/Gotham-Black.otf") format("opentype");
}

@font-face {
  font-family: GothamBook;
  src: url("/fonts/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: GothamMedium;
  src: url("/fonts/GothamMedium.ttf") format("truetype");
}

:root {
  --blue: #023785;
  --yellow: #fcd56c;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  color: var(--white);
}

body {
  font-family: "GothamBlack", "ui-sans-serif", "system-ui", " sans-serif",
    "'Apple Color Emoji'", "'Segoe UI Emoji'", "'Segoe UI Symbol'",
    "'Noto Color Emoji'";
  background: var(--blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 100svh;
  margin: 0 auto;
  gap: 2rem;
  max-width: 24rem;
  padding: 2rem 0.5rem;
}

h1 {
  flex: 0;
  color: var(--yellow);
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li {
  display: flex;
  background: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  align-items: center;
}
ul li img {
  height: 100px;
  width: auto;
}
ul li a {
  color: var(--blue);
  padding: 1rem;
  width: 100%;
}
